.Page-template {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 95vh;
  width: 95vw;
}

.search-bar {
  height: 15%;
  width: 75%;
  border: 3px solid black;
}

.profile {
  height: 15%;
  width: 20%;
  border: 3px solid black;
}

.trending {
  border: 3px solid black;
  height: 60%;
  width: 75%;
}

.subreddits {
  border: 3px solid black;
  height: 60%;
  width: 20%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


