.Page-template {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 95vh;
  width: 95vw;
  
}

.search-bar {
  margin-top: 30px;
  height: 15%;
  width: 75%;
  
}

.search-bar-input {
  background-color: white;
  width: 80%;
  height: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 3px solid gray;
}

.search-bar-button {
  background-color: white;
  border: 3px solid gray;
  width: 30px;
  height: 37px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.profile {
  margin-top: 30px;
  height: 15%;
  width: 10%;
}

.profile-sign-inout {

}

.page {
  background-color: white;
  height: 80%;
  width: 60%;
  overflow-y: scroll;
  border: 3px solid gray;
  border-radius: 20px;
  margin-right: 40px;
}

.subreddits {
  background-color: white;
  height: 80%;
  width: 20%;
  border: 3px solid gray;
  border-radius: 20px;
}

.listing {
  margin: 20px auto;
  background-color: white;
  padding: 10px;
}

.listing-title,
.listing-author,
.listing-sr-name {
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}